.navcolour{
    background-color: lightskyblue;
}

/* navbar */
.navbar-default {
    background-color: lightskyblue !important;
}

.navbar-custom { background-color: red !important; }

.navbar-custom { 
    background-color: lightgreen; 
} 

.navbar-toggle{
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
