<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
<div class="row" >
    <div class="col-md-12">
      <div class="body">
        <div class="search-box">
          <input type="text" name="" class="search-txt" (keyup)="getRecipeDetails(recipeName.value)" placeholder="Enter Meal Name" #recipeName/>
          <a class="search-btn" >
            <i class="fas fa-search"></i>
          </a>
      </div>
    </div>
  </div>
</div>

<!-- Displaying the Newest Recipes -->
<div class="row" >
    <div class="col-md-12"> 
        <div class="row" >
            <div class="col-md-12" id="new-Recipe"> 
              <p></p>
              <div *ngIf="recipeData"> title: {{ recipeData.meals.strMeal }}</div> 
              
            </div>
        </div>
    </div>
  </div>

