.body {
    margin: 0;
    padding: 0;
    margin-top: 5%;
}
   
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  background: #2f3640;   */
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.square {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #555;
    transition: width 0.2s ease-in-out;
    position: relative;
    padding: 50px
  }

  input{
    position: absolute;
      width: 100%;
  }

  .square:hover{
      width: 350px;
  }
   
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
   
.search-box:hover > .search-btn {
    color: white;
    background: #2f3640; 
    width: 250px;
    height: 50px;
    transition: all 0.2s ease-in-out;

}
   
.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}
   
.search-btn > i {
    font-size: 30px;
}
   
.search-txt {
    border: none;
    background: #2f3640;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
    border-radius: 30px;
}


