<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="row" >
    <div class="col-md-12">
      <div class="body">
        <div class="search-box">
        <input type="text" name="" class="search-txt" (keyup)="getRecipeDetails(recipeName.value)" placeholder="Enter Meal Name" #recipeName/>
        <a class="search-btn" >
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Displaying the Newest Recipes -->
<div class="row" >
    <div class="col-md-12"> 
        <div class="row" >
            <div class="col-md-12" id="new-Recipe"> 
               <p>Nice</p>
            </div>
        </div>
    </div>
  </div>

